In [5]:
import pandas as pd
import xml.etree.ElementTree as ET

In [24]:
tree = ET.parse('Python.kml')
tree.write('Cambios.kml')

In [52]:
#Cargamos el fichero KML de goolge Earth

tree = ET.parse('Cambios.kml')
root = tree.getroot()
doc = root[0]

'''
print("tag: ",root.tag)
print("attrib: ",root.attrib)
print("text: ",root.text)
print("tail: ",root.tail)

doc[0].tag
'''

'\nprint("tag: ",root.tag)\nprint("attrib: ",root.attrib)\nprint("text: ",root.text)\nprint("tail: ",root.tail)\n\ndoc[0].tag\n'

In [65]:
'A' in {'A','B'}

True

In [53]:
#Insertamos como hijo de Placemark
path = "{http://www.opengis.net/kml/2.2}"
folder = root[0][4]

Placemark = ET.SubElement(folder, path + 'Placemark')
ET.SubElement(Placemark, path + 'name').text = "my first place"
ET.SubElement(Placemark, path + 'description').text = "un lugar bonito"

LookAt = ET.SubElement(Placemark, path + 'LookAt')
ET.SubElement(LookAt, path + 'longitude').text = "-55.89177578272917"
ET.SubElement(LookAt, path + 'latitude').text = "-33.14150541012881"

ET.SubElement(Placemark, path + 'styleUrl').text = "#m_ylw-pushpin"
ET.SubElement(Placemark, path + 'balloonVisibility').text = "1"

Point = ET.SubElement(Placemark, path + 'Point')
ET.SubElement(Point, path + 'drawOrder').text = "1"
ET.SubElement(Point, path + 'coordinates').text = "-55.89177578272917,-33.14150541012881,0"


tree.write('output.kml')

In [41]:
import lxml.etree as etree

xml_node = etree.Element("node")
item = etree.SubElement(xml_node, 'Item')

etree.SubElement(item, 'Name').text = 'Hello'
etree.SubElement(item, 'Hero').text = '1'
etree.SubElement(item, 'Date').text = '2014-01-01'
item.insert(1, item[-1])
print(etree.tostring(xml_node, pretty_print=True))

b'<node>\n  <Item>\n    <Name>Hello</Name>\n    <Date>2014-01-01</Date>\n    <Hero>1</Hero>\n  </Item>\n</node>\n'

### Esto anda al menos para generar un dataframe b√°sico

In [54]:
#Cargamos el fichero KML de goolge Earth

tree = ET.parse('output.kml')
root = tree.getroot()
doc = root[0]

In [55]:
def getAtributes(root,dic):
       
    for child in root:
        if child.tag[rootpath:] in dic.keys():
            dic[child.tag[rootpath:]].append(child.text)
        else:
            getAtributes(child,dic)

In [56]:
def getFolder(root,dic):
       
    for child in root:
        if child.tag[rootpath:] == "Placemark":
            getAtributes(child,dic)            
        else:
            getFolder(child,dic)

In [57]:
rootpath = len("{http://www.opengis.net/kml/2.2}")
dic={"name":[],
     "longitude":[],
     "latitude":[],
     "altitude":[],
     "coordinates":[]
    }

getFolder(root,dic)

dic

{'name': ['punto 1', 'Punto 2', 'libre', 'my first place'],
 'longitude': ['-55.79177578272917',
  '-55.88146856200056',
  '32.0',
  '-55.89177578272917'],
 'latitude': ['-33.04150541012881',
  '-33.04159536639477',
  '36.0',
  '-33.14150541012881'],
 'altitude': ['100', '0', '0'],
 'coordinates': ['-55.06526192960407,-32.80572852630497,0',
  '-56.31090671153598,-33.60150149377251,0',
  '32.0,36.0,0',
  '-55.89177578272917,-33.14150541012881,0']}

In [58]:
from itertools import zip_longest
dfkml = pd.DataFrame(zip_longest(*dic.values()), columns=dic)

#dfkml = pd.DataFrame.from_dict(dic)
dfkml.head()

,name,longitude,latitude,altitude,coordinates
0,punto 1,-55.79177578272917,-33.04150541012881,100,"-55.06526192960407,-32.80572852630497,0"
1,Punto 2,-55.88146856200056,-33.04159536639477,0,"-56.31090671153598,-33.60150149377251,0"
2,libre,32.0,36.0,0,"32.0,36.0,0"
3,my first place,-55.89177578272917,-33.14150541012881,None,"-55.89177578272917,-33.14150541012881,0"

### Fin de lo que anda bien

In [69]:
class Points(object):

  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

In [71]:
a=1

def do(x):
    a=100
    return(x+a)

print(do(1))

101

In [27]:
tree.write('output.kml')

In [ ]:
df = pd.read_xml(xml)
df

In [ ]:
# Funci√≥n para devolver valor para tag dado

rootpath = len("{http://www.opengis.net/kml/2.2}")

In [ ]:
print(ET.Element('scale').tag)

In [20]:
#truchada
rootpath = len("{http://www.opengis.net/kml/2.2}")


for i in range(5):
    print(str(root[0][i].tag[rootpath:]))


if root[0][4][2][0].tag[rootpath:] == "name":
    print("bien")
    
print(root[0][4][2][2][6].text)
print(root[0][4][2][2][6].tag[rootpath:])

name
Style
Style
StyleMap
Folder
bien
relativeToSeaFloor
.2}altitudeMode

In [ ]:
for child in root:
    print(child.tag[rootpath:], child.attrib)
    for ch in child:
        print("  " + ch.tag[rootpath:] , ch.attrib)
        for c in ch:
            print("    " , c.attrib)
            for sc in c:
                print("   ----   " + sc.tag[rootpath:], sc.attrib)
                for s in sc:
                    print("        " , s.attrib)
                    
                    
print(ET.Element('scale').attrib)

In [45]:
for movie in root.iter('name'):
    print(movie.attrib)