In [149]:
import pandas as pd
import os

In [150]:
cwd = os.getcwd()

In [151]:
#Columnas del SedLog para cargar por CSV
sedlogcolumns = ['THICKNESS (CM)', 'BASE BOUNDARY', 'LITHOLOGY', 'LITHOLOGY %',
       'LITHOLOGY2', 'LITHOLOGY2 %', 'LITHOLOGY3', 'LITHOLOGY3 %',
       'GRAIN SIZE BASE', 'PHI VALUES BASE', 'GRAIN SIZE TOP',
       'PHI VALUES TOP', 'SYMBOLS IN BED', 'SYMBOLS/STRUCTURES',
       'NOTES COLUMN', 'BIOTURBATION TYPE', 'INTENSITY',
       'PALAEOCURRENT VALUES', 'FACIES', 'OTHER1 TEXT', 'OTHER1 SYMBOL',
       'OTHER2 TEXT', 'OTHER2 SYMBOL', 'OTHER3 TEXT', 'OTHER3 SYMBOL']

sedLogCSV = pd.DataFrame()
for item in sedlogcolumns:
    sedLogCSV[item] = 0

In [166]:
df = pd.read_csv(cwd + "\\pru.csv")
simbo = df['SYMBOLS/STRUCTURES'].to_list()
simbo

['Current ripple cross-lamination,Planar cross bedding,Horizontal planar lamination']

In [153]:
datos = pd.read_excel(cwd + "\datos.xlsx")
datos

,Unnamed: 0,Espesor,Litología,Contacto,Estructuras / Fósiles,Descripción,Notas
0,NaN,30,Sr,E,R,Arenisca fina con intraclastos,NaN
1,NaN,25,Sr,G,R,Arenisca media,NaN
2,NaN,100,Gr,NaN,F,Grava,NaN

In [154]:
#cargo con none los campos para el CSV de SedLog
none = []
for i in range(len(datos)):
    none.append('<none>')

for item in sedlogcolumns:
    sedLogCSV[item] = none

### Cargamos los campos

In [155]:
#'THICKNESS (CM)'
sedLogCSV['THICKNESS (CM)'] = datos['Espesor'].to_list()

In [159]:
#'BASE BOUNDARY'
listContact = []
dictContact = {'<none>':'<none>',
               'S':'Sharp',
               'E':'Erosion',
               'G':'Gradational'}

for item in datos['Contacto'].to_list():
    listContact.append(dictContact.get(item))
    
sedLogCSV['BASE BOUNDARY'] = listContact

In [160]:
#'LITHOLOGY'
listLitho1 = []
listEstru = []
dictLitho1 = {'<none>':'<none>',
               'S':'Sharp',
               'E':'Erosion',
               'G':'Gradational'}

for item in datos['Litología'].to_list():
    listContact.append(dictContact.get(item))
    
sedLogCSV['BASE BOUNDARY'] = listContact

,THICKNESS (CM),BASE BOUNDARY,LITHOLOGY,LITHOLOGY %,LITHOLOGY2,LITHOLOGY2 %,LITHOLOGY3,LITHOLOGY3 %,GRAIN SIZE BASE,PHI VALUES BASE,...,BIOTURBATION TYPE,INTENSITY,PALAEOCURRENT VALUES,FACIES,OTHER1 TEXT,OTHER1 SYMBOL,OTHER2 TEXT,OTHER2 SYMBOL,OTHER3 TEXT,OTHER3 SYMBOL
0,30,Erosion,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
1,25,Gradational,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
2,100,None,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>

In [40]:
len(sedlogcolumns)

25

Empty DataFrame
Columns: [THICKNESS (CM), BASE BOUNDARY, LITHOLOGY, LITHOLOGY %, LITHOLOGY2, LITHOLOGY2 %, LITHOLOGY3, LITHOLOGY3 %, GRAIN SIZE BASE, PHI VALUES BASE, GRAIN SIZE TOP, PHI VALUES TOP, SYMBOLS IN BED, SYMBOLS/STRUCTURES, NOTES COLUMN, BIOTURBATION TYPE, INTENSITY, PALAEOCURRENT VALUES, FACIES, OTHER1 TEXT, OTHER1 SYMBOL, OTHER2 TEXT, OTHER2 SYMBOL, OTHER3 TEXT, OTHER3 SYMBOL]
Index: []

[0 rows x 25 columns]

In [85]:
sedLogCSV.to_csv(cwd + "\\sedLogCSV.csv", index =False)

In [84]:
df.to_csv(cwd + "\\sedLogCSV.csv", index =False)